/*
   Spice Bowl Forms Style Sheet
   Author:Nidhibahen Patel
   Date: 08/15/2020

   Filename: sb_forms.css

*/

/* Form Layout Styles */

form{
	background-color: rgba(249, 38, 4, 0.2);
}

fieldset{
	border: 2px solid #ce8d38;
	margin: 15px;
}

legend{
	background-color: rgba(206,141,56,0.7);
	color: rgba(255,255,255,0.7);
	font-size: 1.1em;
	border-radius: 10px;
	padding: 8px;
	margin-bottom: 10px;
}

/* Input and Label Styles */

label{
	display: inline-block;
	margin-bottom: 10px;
	width: 35%;
	padding-left: 50px;
}	
	
input, select{
	width: 35%;
	box-sizing: border-box;
}
	
	

/* Radio Button Styles */
#credit input {
   width: initial;
   margin-left: 15px;
}

#credit label {
	padding-left: 5px;
}

/* Expiration Date input styles */

#monthList, #yearList {
	width: 10%;
}


/* Submit Button Styles */

input[type="submit"] {
	background-color: #d5a668;
	border: 5px outset rgb(206, 141, 56);
	color: #e9e3db;
	font-size: 2em;	
	padding: 10px;
	display: block;
	margin: 15px auto;
}